header {
	background:black;
	height: 60px;
}
header ul li {
	float: left;
	font-size: 20px;
}
header ul li a {
	padding: 15px;
	display: block;
	color: white;
}
header ul li a: hover
 {
	text-decoration: none;
	color:white;
	background:dodgerblue;